.App {
  text-align: center;
}

/* ------------------column---------------------------- */
.projects {
  background: rgb(255, 255, 255);
}

.projects .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  padding: 10px;
}

.projects .box-container .box {
  cursor: initial;
}

.projects .box-container .box .image {
  height: 20rem;
}

.projects .box-container .box .image img {
  height: 100%;
  width: 100%;
}

.projects .box-container .box .content {
  justify-content: center;
}

.projects .box-container .box .content .info {
  padding: 5px 10px;
  text-align: center;
}

.projects .box-container .box h3 {
  font-size: 1.5rem;
  color: black;
  text-align: center;
  margin: 10px 0;
}
/* -----------------button-------------------------- */
.glow-on-hover {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
} */
/* --------------Footer---------------------- */
.foot {
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: gray;
  margin-top: 10px;
  padding: 5px 0;
  color: white;
}
#background{
  background-color: yellowgreen;
}
/* ---------------Popup---------------------------- */
.overlay {
  position: fixed;
  top: 100px;
  bottom: 60px;
  left: 350px;
  right: 0;
  background: rgb(81, 69, 69);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  color: royalblue;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 60px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup img{ width: 100%;}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {color: #06D85F;}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.overlay img{
  width:400px ;
  height: 300px;
}
.product-tumb-details img{
  width: 90rem;
  height: 40rem;
}

/* --------Navigation---------- */
.task{
  background-color: black;
}
.task .switch {
  margin-right: 20px;
}

.active {
  color: rgb(37, 169, 225);
  padding: 17px 20px;
  text-decoration: none;
}

.active:hover {
  background-color: rgb(162, 186, 55);
}

.menu{
  justify-content: space-between;
  align-items: center;
}
.menu .brand-logo{
  left: 1rem;
}
/* --------------Modal-Show------------ */
.modal-show {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vmax;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.button-watchvideo {
  /* width: 100%; */
  justify-content: center;
  color: white;
  margin: 0;
  margin-top: 5px;
}
.button-watchvideo1 button{
  background-color: #ffffff;
  width: 100%;
  justify-content: center;
  padding: 10px 0;
  font-size: 1rem;
  box-shadow: none;
  margin: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.button-watchvideo button {
  background-color: #ffffff;
  width: 79%;
  justify-content: center;
  padding: 10px 0;
  font-size: 1rem;
  box-shadow: none;
  margin: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.button-watchvideo button:hover {
  background-color: rgb(2, 83, 2);
  color: white;
}
.button-watchvideo1 button:hover {
  background-color: rgb(2, 83, 2);
  color: white;
}
#movie{
  text-align: center;
  margin: 10px 12%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}
#movie p{
  padding: 10px 0;
  margin: 0 20px;
  
}
#detail-box{
  margin: 0 50px;
}
/* .product-details{
  margin-left: 200px;
} */
